.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}

.blue {
  background-color: black;
}

.gray {
  background-color: #6c757d;
}

.large {
  font-size: 18px;
}

.medium {
  font-size: 16px;
}

.small {
  font-size: 14px;
}

.button:hover {
  opacity: 0.8;
  /* ��䥪� �� ��������� */
}