.container {
    padding: 20px 40px;
}

.first_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swipeInfo {
    color: white;
    text-align: center;
    background: gray;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    margin: 20px auto;
}

blockquote {
    margin-top: 200px;
    text-align: center;
}